<div class="home">
  <app-carousel
    #carousel
    [activeIndex] = "carouselActiveIndex"
    (changeSlide)="onChangeSlide($event)"
  >
    <nz-carousel
      nzAutoPlay
      neEffect = "fade"
      [nzDotRender] = "carousel.dotRef"
      (nzBeforeChange) = "onBeforeChange($event)"
    >
      <div class="carousel-item" nz-carousel-content *ngFor="let banner of banners">
        <a [href]="banner.url" target="_blank" class="banner-item">
          <img [src]="banner.imageUrl" alt="" />
        </a>
      </div>
    </nz-carousel>
  </app-carousel>

  <div class="main">
    <div class="wrap">

      <div class="left">
        <div class="sec">

          <div class="up">
            <div class="navs">
              <h2>
                <i></i>
                <a href="">HOT</a>
              </h2>
              <nav>
                <a *ngFor="let tag of hotTags">{{tag.name}}</a>
              </nav>
            </div>
            <a>
              more
              <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
            </a>
          </div>

          <div class="down">
            <div class="down-wrap">
              <app-song-card
                class="sheet-item"
                *ngFor="let song of songSheets"
                [song] = "song"
                (onPlay) = "onPlay($event)"
              ></app-song-card>
            </div>
          </div>

        </div>
      </div>

      <div class="right">
        <app-member-card></app-member-card>
        <div class="settled-singer">
          <div class="tit"><b>loading singer</b></div>
          <div class="list">
            <div class="card" *ngFor="let singer of singers">
              <div class="pic">
                <img [src]="singer.picUrl" [alt]="singer.name">
              </div>
              <div class="txt">
                <b class="ellipsis">{{ singer.name }}</b>
                <span>album: {{ singer.albumSize }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
