<!-- <app-news></app-news> -->
<!-- <hr/> -->
<!-- <app-home></app-home> -->
<!-- <hr/> -->
<!-- <app-form></app-form> -->
<!-- <app-search></app-search> -->
<!-- <br /> -->
<!-- <app-todolist></app-todolist> -->
<!-- <app-dom></app-dom> -->
<!-- <app-transition></app-transition> -->
<!-- <app-main></app-main> -->
<!-- <app-request></app-request> -->
<!-- <div style="text-align:center">Hello Angular</div> -->

<h1>
  <a routerLink="/kobe">Kobe</a> ----
  <a routerLink="/jordan">Jordan</a>
</h1>
<router-outlet></router-outlet>
